@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="container py-4">
            <!-- Aquí se renderiza el contenido de Home.razor o Login.razor -->
            @Body
        </div>
    </main>
</div>